<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Get Content of Ace Editor to Textarea</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function () {
            var editor = ace.edit("editor");
            var language = document.getElementById("language");
            $('a#process_input').bind('click', function () {
                $.getJSON('/background_process', {
                    proglang: editor.getSession().getValue(),
                    lang: language.value,
                }, function (data) {
                    $("#result").text(data.result);
                });
                return false;
            });
        });
    </script>


    <script
            type="text/javascript"
            src="//code.jquery.com/jquery-2.0.2.js"

    ></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css">

    <style id="compiled-css" type="text/css">
        #editor {
            /** TODO Setting height is also important, otherwise editor wont showup**/
            height: 70vh;
        }

        /* EOS */
    </style>

    <script id="insert"></script>


</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Editor</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <dif class="col-md-6">
                    <div class="col-md-6">
                        <h4>Textarea</h4>
                        <textarea class="col-md-6" name="content" id="content" rows="5" cols="70"
                                  disabled="disabled"></textarea>
                    </div>
                    <div class="row">
                        <form>
                            <select name="language" id="language" class="select-field">
                                {% set default_value = 'C++' %}
                                {% for d in data %}
                                    <option value="{{ d.name }}"
                                            {% if d.name== default_value %}selected="selected" {% endif %}>{{ d.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <a href=# id=process_input>
                                <button class='btn btn-default'>Submit</button>
                            </a>
                        </form>
                        <p id=result></p>
                    </div>
                </dif>
                <h4>Ace Editor</h4>
                <div class="col-md-6">
                    {#                    TODO ADD DEFAULT TEMPLATE#}
                    <div id="editor"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="text-center">---End of editor---</div>
    <button class="btn btn-primary" id="toggletextarea-btn">Hide TextArea</button>
    <button class="btn btn-default" id="alertcontent-btn">Alert Content</button>
    <br/>
    <br/>
</div>

<script type="text/javascript">//<![CDATA[


var textarea = $('#content');

var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/c_cpp");

editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: true,
    enableLiveAutocompletion: true
});

editor.getSession().on('change', function () {
    textarea.val(editor.getSession().getValue());
});

var language = $('#language');

language.change(function () {
    console.log(language.val());
    var selectedLanguage = language.val();
    if (selectedLanguage == "Java") selectedLanguage = "java"
    if (selectedLanguage == "C++") selectedLanguage = "c_cpp"
    if (selectedLanguage == "Python") selectedLanguage = "python"
    editor.getSession().setMode("ace/mode/" + selectedLanguage);
})

textarea.val(editor.getSession().getValue());

$("#toggletextarea-btn").on('click', function () {
    textarea.toggle();
    $(this).text(function (i, text) {
        return text === "Show Content" ? "Hide Content" : "Show Content";
    });
});

$("#alertcontent-btn").on('click', function () {
    alert(textarea.val());
});


//]]></script>

<script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent) {
        window.parent.parent.postMessage(["resultsFrame", {
            height: document.body.getBoundingClientRect().height,
            slug: "tGF6y"
        }], "*")
    }

    // always overwrite window.name, in case users try to set it manually
    window.name = "result"
</script>


</body>
</html>
